{% extends 'core/base.html' %}
{% block titulo %}{% if epi %}Editar EPI{% else %}Novo EPI{% endif %}{% endblock %}
{% block conteudo %}
<h1>{% if epi %}Editar EPI — {{ epi.nome }}{% else %}Cadastro de EPI{% endif %}</h1>
<form method="post" class="painel" novalidate>
  {% csrf_token %}
  {% if form.non_field_errors %}<div class="erros-form">{{ form.non_field_errors }}</div>{% endif %}
  {% include 'core/_form_campos.html' %}
  <div class="acoes">
    <a class="btn btn-secundario" href="{% url 'epi_lista' %}">Cancelar</a>
    <button class="btn btn-primario" type="submit">Salvar EPI</button>
  </div>
</form>
{% endblock %}
